<form method="post" action="{{ path('full_house_delete', {'id': full_house.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ full_house.id) }}">
    <button class="btn">Delete</button>
</form>
