{% extends 'base.html.twig' %}

{% block title %}Edit FullHouse{% endblock %}

{% block body %}
    <h1>Edit FullHouse</h1>

    {{ include('full_house/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('full_house_index') }}">back to list</a>

    {{ include('full_house/_delete_form.html.twig') }}
{% endblock %}
